$colors: (
  bg: #20313d,
  bg-alt: darken(#20313d, 5),
  fg: rgba(255, 255, 255, 0.55),
  fg-bold: #ffffff,
  fg-light: rgba(255, 255, 255, 0.35),
  border: rgba(255, 255, 255, 0.15),
  border-bg: rgba(255, 255, 255, 0.05),
  accent1: #2e9692,
  accent1-alt: darken(#2e9692, 10),
  accent2: #3aa4ca,
  accent2-alt: darken(#3aa4ca, 10),
  accent3: #b84d50,
  accent3-alt: darken(#b84d50, 10)
);

$fonts: (
  family: (Arial, Helvetica, sans-serif),
  family-fixed: ('Courier New', monospace)
)