/* Error: Undefined variable.
 *    ,
 * 27 |   family: map-get($fonts, family),
 *    |                   ^^^^^^
 *    '
 *   libs/_vars.scss 27:19  @import
 *   noscript.scss 1:9      root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 27 \2502    family: map-get($fonts, family),\d\a    \2502                    ^^^^^^\a    \2575 \a   libs/_vars.scss 27:19  @import\a   noscript.scss 1:9      root stylesheet";
}
