// Misc.
$misc: (
  z-index-base: 10000,
  max-features: 20,
  max-sidebar-links: 20
);

// Duration.
$duration: (
  transition: 0.2s,
  activation: 1s
);

// Size.
$size: (
  border-radius: 0.25em,
  border-width: 1px,
  element-height: 2.75em,
  element-margin: 2em,
  sidebar-width: 18em,
  sidebar-height: 3.5em, // when <=large is active
  inner-width: 75em
);

// Font.
$font: (
  family: map-get($fonts, family),
  family-fixed: map-get($fonts, family-fixed),
  weight: normal,
  weight-bold: bold,
  kerning-alt: 0.25em
);

// Palette.
$palette: (
  bg: map-get($colors, bg),
  bg-alt: map-get($colors, bg-alt),
  fg: map-get($colors, fg),
  fg-bold: map-get($colors, fg-bold),
  fg-light: map-get($colors, fg-light),
  border: map-get($colors, border),
  border-bg: map-get($colors, border-bg),
  accent1: map-get($colors, accent1),
  accent1-alt: map-get($colors, accent1-alt),
  accent2: map-get($colors, accent2),
  accent2-alt: map-get($colors, accent2-alt),
  accent3: map-get($colors, accent3),
  accent3-alt: map-get($colors, accent3-alt)
);